.bg-yellow {
    background-color: #F6C90E;
}
.yellow {
    color: #F6C90E;
}
.bg-gray {
    background-color: #F7F7F7;
}
.input-gray {
    background-color: #F2F2F2;
}
.cus-bg-red {
    background-color: #FF9999;
}